@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

/* Brand tokens EMS */
@theme {
  --color-brand: #208aef;
  --color-brand-dark: #1564b3;
}

@media ios {
  :root {
    --font-mono: ui-monospace;
    --font-sans: system-ui;
  }
}
